<h1>Listing quest_masters</h1>

<table>
  <tr>
    <th>Profile</th>
    <th>Speciality</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%if QuestMaster.count!=0%>
  <% @quest_masters.each do |quest_master| %>
      <%if quest_master==nil%>
        <%break%>
      <%end%>
    <tr>
      <td><%= link_to Profile.find_by_id(quest_master.profile_id).nick , quest_master%></td>
      <td><img src="<%=Specialty.find_by_id(quest_master.speciality_id).picture%>" /></td>
      <td><%= quest_master.level %></td>
      <td><%= link_to 'Show', quest_master %></td>
      <td><%= link_to 'Edit', edit_quest_master_path(quest_master) %></td>
      <td><%=link_to 'Destroy',quest_master,confirm:'Are you sure?',method: :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Quest master', new_quest_master_path %>
