<p id="notice"><%= notice %></p>

<p>
  <b>Profile:</b>
  <br/>
  <img src="<%=Profile.find_by_id(@quest_master.profile_id).picture%>" />
  <br/>
  <%=Profile.find_by_id(@quest_master.profile_id).nick%>
</p>

<p>
  <b>Speciality:</b>
  <br/>
  <img src="<%=Specialty.find_by_id(@quest_master.speciality_id).picture%>" />
  <br/>
  <%=Specialty.find_by_id(@quest_master.speciality_id).name%>
</p>

<p>
  <b>Level:</b>
  <%= @quest_master.level %>
</p>


<%= link_to 'Edit', edit_quest_master_path(@quest_master) %> |
<%= link_to 'Back', quest_masters_path %>
