<h1>Listing completed_quests</h1>

<table>
  <tr>
    <th>Quest</th>
    <th>Reviewer</th>
    <th>Profile</th>
    <th>Experience won</th>
    <th>Kelo won</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @completed_quests.each do |completed_quest| %>
  <tr>
    <td><%= completed_quest.quest_id %></td>
    <td><%= completed_quest.reviewer_id %></td>
    <td><%= completed_quest.profile_id %></td>
    <td><%= completed_quest.experience_won %></td>
    <td><%= completed_quest.kelo_won %></td>
    <td><%= completed_quest.comment %></td>
    <td><%= link_to 'Show', completed_quest %></td>
    <td><%= link_to 'Edit', edit_completed_quest_path(completed_quest) %></td>
    <td><%= link_to 'Destroy', completed_quest, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Completed quest', new_completed_quest_path %>
